/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "keymap_french.h"


// Layer definitions
#define BASE 0
#define SHT 1
#define ACCENT 2
#define NUM 3
#define NAV 4
#define FNC 5
#define SETTINGS 6
// -----------------

	
&sk {
	// don't release mods on other mods presses
	ignore-modifiers;
};


/ {
	behaviors {

		// Enables switching between layers Accent and Numbers
		// by performing a tap-dance sequence.
		td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&sl ACCENT>, <&sl NUM>;
        };

		// Enables switching between layers NAV and Function
		// by performing a tap-dance sequence.
		td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&sl NAV>, <&sl FNC>;
        };


		// Enables holding the first mod-tap key
		// by performing a tap-release-hold sequence.
		// To use it: "&qt KEYCODE1 KEYCODE2"
		qt: quick_tap {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <500>;
			quick-tap-ms = <500>;
			bindings = <&kp>, <&kp>;
		};
	};

	macros {
		// sometimes my device thinks a modifier is being held down
		// pressing all modifiers fixes it.
		unstick: unstick {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL &kp LALT &kp RALT &kp LGUI &kp RGUI>;
		};

		// Accents macro
		e_trem: e_trem {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <40>;
			tap-ms = <40>;
			bindings
    		= <&macro_tap     &kp FR_DIAE &kp FR_E>
    		;
		};
		u_circ: u_circ {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <40>;
			tap-ms = <40>;
			bindings
    		= <&macro_tap     &kp FR_CIRC &kp FR_U>
    		;
		};
		i_trem: i_trem {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <40>;
			tap-ms = <40>;
			bindings
    		= <&macro_tap     &kp FR_DIAE &kp FR_I>
    		;
		};
	};

	combos {
		compatible = "zmk,combos";
		// both left thumb keys
		combo_settings {
			timeout-ms = <200>;
			key-positions = <30 31>;
			bindings = <&mo SETTINGS>;
		};
		// left index & middle fingers (home-row)
		// hold space for Figma...
		combo_ctrl_space {
			timeout-ms = <200>;
			key-positions = <12 13>;
			bindings = <&kp SPACE>;
			layers = <BASE>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		// Base alpha layer
		default_layer {
			display-name = "Base";
			bindings = <
			&kp FR_Q 		&kp FR_C 		&kp FR_O					&kp FR_P 		&kp FR_W							&kp FR_J  				&kp FR_M  		&kp FR_D		&qt FR_DQUO FR_QUOT		&kp FR_Y 
			&kp FR_A 		&kp FR_S 		&kp FR_E 					&kp FR_N 		&kp FR_F         					&kp FR_L  				&kp FR_R  		&kp FR_T		&kp FR_I				&kp FR_U
			&kp FR_Z 		&kp FR_X 		&qt FR_QUES FR_MINS 		&kp FR_V 		&kp FR_B         					&qt FR_COLN FR_DOT 		&kp FR_H 		&kp FR_G		&qt FR_SCLN FR_COMM		&kp FR_K
							           													&td1  &qt LSHIFT SPACE   			&lt SHT ENTER &td0
			>;
		};

		// Used for system short cuts
		sht_layer {
			display-name = "ShortC";
			bindings = <
			&kp ESC					&none					&qt LG(FR_N) LG(FR_T)		&qt LG(LS(FR_S)) LG(FR_S) 	&qt LG(FR_Q) LG(FR_W)						&kp C_MUTE 			&kp C_VOL_DN 	&kp C_VOL_UP	&none				&kp LC(LA(DEL))
			&none 					&none					&qt LG(LS(FR_A)) LG(FR_A) 	&qt LG(FR_X) LG(FR_C)  		&qt LG(LA(LS(FR_V))) LG(FR_V)	   			&kp LG(SPACE)		&kp LG(FR_B)	&kp LG(FR_U)	&kp LG(FR_I) 		&none 
			&none 					&none   				&none						&kp LG(FR_Z)				&kp LG(LS(FR_Z))							&none				&none 			&none 			&none				&none
																													&trans  &kp TAB 							&trans 		&trans 
			>;
		};

		// Used to type french accents and high frequency symbols
		accent_layer {
			display-name = "Accent";
			bindings = <
			&kp FR_CACI 		&kp FR_CCED 		&kp FR_OE 			&kp FR_OCIR  			&kp FR_EURO         			&kp FR_HASH  		&qt FR_PND FR_DLR 	&kp FR_AMPR 	&kp FR_EXLM 	&u_circ 
			&kp FR_AGRV  		&kp FR_EACU 		&kp FR_EGRV 		&kp FR_ECIR 			&e_trem 		  				&kp FR_PIPE  		&kp FR_UNDS 		&kp FR_LICI 	&i_trem 	 	&kp FR_UGRV
			&kp FR_AE 			&kp FR_BSLS   		&kp FR_SLSH 		&qt FR_LABK FR_LPRN 	&qt FR_RABK FR_RPRN         	&qt FR_LCBR FR_LBRC &qt FR_RCBR FR_RBRC &none  			&none  			&kp FR_AT
																								&trans  &trans   				&trans &trans 
			>;
		};


		// Numbers and high frequency symbols
		num_layer {
			display-name = "Num";
			bindings = <
			&none	&none	&kp FR_GRV 		&kp FR_TILD				&kp FR_PERC					&kp FR_SLSH &kp FR_7 &kp FR_8 &kp FR_9	&kp FR_MINS
			&none 	&none	&kp FR_CIRC  	&kp FR_BSLS 			&kp FR_DOT        			&kp FR_ASTR &kp FR_4 &kp FR_5 &kp FR_6 	&kp FR_PLUS
			&none 	&none	&kp FR_DIAE 	&qt FR_LABK FR_LPRN 	&qt FR_RABK FR_RPRN	 		&kp FR_0 	&kp FR_1 &kp FR_2 &kp FR_3 	&kp FR_EQL
																		&trans  &trans   			&trans &trans
			>;
		};


		// Main modifiers and arrow keys
		nav_layer {
			display-name = "Nav";
			bindings = <
			&kp ESC			&kp LC(LS(TAB))					&kp LC(TAB)				&kp LG(LS(TAB))			&kp LG(TAB)						&qt HOME PG_UP		&kp UP				&qt END PG_DN		&none				&kp CAPS
			&sk LALT		&sk LGUI						&sk LSHIFT				&sk LCTRL				&sk RALT						&kp LEFT			&kp DOWN			&kp RIGHT			&kp K_APP			&none
			&kp LG(FR_L)	&qt LG(LS(FR_F)) LG(FR_F)		&kp LG(FR_G)			&kp LG(LEFT)			&kp LG(RIGHT)					&kp LA(BSPC)		&kp BSPC			&kp DEL				&none				&none
																								&trans &kp LCTRL    			&trans  &trans 
			>;
		};
			

		// Function keys with modifiers
		fnc_layer {
			display-name = "Func.";
			bindings = <
			&kp F1 		&kp F2 		&kp F3 		&kp F4 		&kp F5          &kp F6 	&kp F7 	&kp F8 	&kp F9 	&kp F10 
			&sk LALT 	&sk LGUI 	&sk LSHIFT 	&sk LCTRL 	&sk RALT    	&none 	&none	&none 	&kp F11 &kp F12
			&none  		&none 		&none  		&none   	&none 			&none   &none 	&none  	&none   &none 
							  							&trans &trans 		&trans &trans  
			>;
		};

		// Used to change the keyboard's settings.
		settings_layer {
				display-name = "Sett.";
				bindings = <
				&bootloader 	&none &none &bt BT_CLR &bt BT_SEL 0               &bt BT_SEL 3 &none &unstick &none &bootloader 
				&none 			&none &none &none      &bt BT_SEL 1 			  &bt BT_SEL 4 &none &none 	  &none &none
				&none			&none &none &none      &bt BT_SEL 2               &bt BT_SEL 5 &none &none 	  &none &none
														&trans &trans   		  &trans &trans 
				>;
		};
	};
};